# reload
alias r="source ~/.zshrc"

# open config
alias config="nvim ~/.zshrc"

# nodet (node typescript)
alias nodet="npx ts-node"

# brewfile
alias brewfile="nvim ~/.config/brew/Brewfile"

# gh release pr
alias ghrl="gh pr create --base prod --head main --title release --body \"\""
