<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CKPerBootTasks</key>
	<array>
		<string>CKAccountInfoCacheReset</string>
	</array>
	<key>CKStartupTime</key>
	<integer>1789678698</integer>
	<key>CloudKitAccountInfoCache</key>
	<dict/>
	<key>Daemon::LastOSLaunchVersion</key>
	<string>25G83</string>
</dict>
</plist>
