<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>comfortSoundsEnabled</key>
	<false/>
	<key>comfortSoundsEnabled_UpdateInfo</key>
	<dict>
		<key>2026-09-05</key>
		<string>heard</string>
	</dict>
	<key>timerEnabled</key>
	<false/>
</dict>
</plist>
