<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CSReceiverBundleIdentifierState</key>
	<dict>
		<key>com.apple.AppStore</key>
		<true/>
		<key>com.apple.CalendarUI</key>
		<true/>
		<key>com.apple.LocalAuthenticationRemoteService</key>
		<true/>
		<key>com.apple.Photos</key>
		<true/>
		<key>com.apple.Safari</key>
		<true/>
		<key>com.apple.SetupAssistant</key>
		<true/>
		<key>com.apple.Sharing-Settings.extension</key>
		<true/>
		<key>com.apple.Spotlight</key>
		<true/>
		<key>com.apple.Stickers</key>
		<true/>
		<key>com.apple.Terminal</key>
		<true/>
		<key>com.apple.TextInputMenuAgent</key>
		<true/>
		<key>com.apple.TextInputSwitcher</key>
		<true/>
		<key>com.apple.TextInputUI.xpc.CursorUIViewService</key>
		<true/>
		<key>com.apple.VoiceOver</key>
		<true/>
		<key>com.apple.application</key>
		<true/>
		<key>com.apple.appplaceholdersyncd</key>
		<true/>
		<key>com.apple.contactsd</key>
		<true/>
		<key>com.apple.controlcenter</key>
		<true/>
		<key>com.apple.duetexpertd</key>
		<true/>
		<key>com.apple.fileprovider.fileproviderd</key>
		<true/>
		<key>com.apple.finder</key>
		<true/>
		<key>com.apple.helpviewer</key>
		<true/>
		<key>com.apple.loginwindow</key>
		<true/>
		<key>com.apple.notificationcenterui</key>
		<true/>
		<key>com.apple.reminders</key>
		<true/>
		<key>com.apple.settings.PrivacySecurity.extension</key>
		<true/>
		<key>com.apple.shortcuts</key>
		<true/>
		<key>com.apple.spotlight</key>
		<true/>
		<key>com.apple.spotlight.contacts</key>
		<true/>
		<key>com.apple.spotlightknowledged</key>
		<true/>
		<key>com.apple.systempreferences</key>
		<true/>
		<key>com.apple.tips</key>
		<true/>
	</dict>
</dict>
</plist>
