<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DidClearLegacySpotlightMetadataCaches</key>
	<true/>
	<key>DidGrantSearchProviderAccessToWebNavigationExtensions</key>
	<true/>
	<key>DidMigrateAppExtensionPermissions</key>
	<true/>
	<key>DidMigrateDefaultsToSandboxSecureDefaults</key>
	<true/>
	<key>DidMigrateDeviceIdentifier com.apple.Safari.WBSDeviceIdentifierManager.com.apple.Safari.TabGroups</key>
	<true/>
	<key>DidMigrateDownloadFolderToSandbox</key>
	<true/>
	<key>DidMigrateLastSessionPlist</key>
	<true/>
	<key>DidMigrateNewBookmarkSheetToReadingListDefault</key>
	<true/>
	<key>DidMigrateResourcesToSandbox</key>
	<true/>
	<key>DidMigrateSecureDefaultsToUserDefaults</key>
	<true/>
	<key>DidMigrateStartPageDefaultSidebarVisibility</key>
	<true/>
	<key>DidMigrateToCoreSpotlightBasedHistorySearch</key>
	<true/>
	<key>DidMigrateToMoreRestrictiveFileURLPolicy</key>
	<true/>
	<key>DidMigrateWebDriverAllowRemoteAutomation</key>
	<true/>
	<key>DidMigrateWebExtensionSQLiteStorageToWebKit</key>
	<true/>
	<key>DidReportHistorySettings</key>
	<true/>
	<key>DidUpdateCoreSpotlightBookmarksDataOnUpgrade</key>
	<true/>
	<key>ExtensionsEnabled</key>
	<true/>
	<key>HideStartPageRecentlyClosedTabsEmptyItemView</key>
	<true/>
	<key>HomePage</key>
	<string>https://www.apple.com/startpage/</string>
	<key>IIO_LaunchInfo</key>
	<real>0.26650798320770264</real>
	<key>LastCloudHistoryConfigurationUpdateTime</key>
	<date>2026-08-18T16:25:20Z</date>
	<key>LocalFileRestrictionsEnabled</key>
	<true/>
	<key>NSToolbar Configuration BrowserStandaloneTabBarToolbarIdentifier-v3.1</key>
	<dict>
		<key>TB Display Mode</key>
		<integer>2</integer>
		<key>TB Icon Size Mode</key>
		<integer>1</integer>
		<key>TB Is Shown</key>
		<true/>
		<key>TB Size Mode</key>
		<integer>1</integer>
	</dict>
	<key>OpenWindows</key>
	<array/>
	<key>PrivacyReportStartPageNumberOfTrackers</key>
	<dict>
		<key>DefaultProfile</key>
		<integer>0</integer>
	</dict>
	<key>SearchProviderIdentifierMigratedToSystemPreference</key>
	<true/>
	<key>ShowSidebarInTopSites</key>
	<false/>
	<key>SkipLoadingEnabledAppExtensionsAtLaunch</key>
	<true/>
	<key>SkipLoadingEnabledContentBlockersAtLaunch</key>
	<true/>
	<key>SkipLoadingEnabledWebExtensionsAtLaunch</key>
	<true/>
	<key>SuccessfulLaunchTimestamp</key>
	<real>808763119.179965</real>
	<key>WBSOfflineSearchDisablementKey</key>
	<date>2026-08-18T16:25:20Z</date>
	<key>WBSOfflineSearchSuggestionsModelGoogleWasDefaultSearchEngineKey</key>
	<true/>
	<key>WBSOfflineSearchSuggestionsModelLastUpdateDateKey</key>
	<string>2026-08-18-1625</string>
	<key>WBSOfflineSearchSuggestionsModelLastUsedLocaleIdentifierKey</key>
	<string>en_US</string>
	<key>WBSOnboardingStatesDefaultsKeyV0.2</key>
	<dict>
		<key>CustomizeStartPage</key>
		<integer>1</integer>
		<key>EnableCloudSync</key>
		<integer>1</integer>
		<key>EnableHighlights</key>
		<integer>2</integer>
		<key>ExtensionsDiscovery</key>
		<integer>1</integer>
		<key>SetDefaultBrowser</key>
		<integer>2</integer>
	</dict>
	<key>WBSPerSiteSettingSyncInitialSyncCompletedKey</key>
	<true/>
	<key>WBSPrivacyProxyAvailabilityAccountType</key>
	<integer>1</integer>
	<key>WBSPrivacyProxyAvailabilityActiveOnDefaultNetwork</key>
	<false/>
	<key>WBSPrivacyProxyAvailabilityServiceStatus</key>
	<integer>0</integer>
	<key>WBSPrivacyProxyAvailabilitySubscriberTier</key>
	<false/>
	<key>WBSPrivacyProxyAvailabilitySubscriberTierUnavailableInUserCountry</key>
	<true/>
	<key>WBSPrivacyProxyAvailabilityTraffic</key>
	<integer>134085868</integer>
	<key>WBSRemoteAutoFillQuirksLastUpdateTime</key>
	<date>2026-08-18T16:25:20Z</date>
	<key>WebKitPreferences.allowsPictureInPictureMediaPlayback</key>
	<true/>
	<key>WebKitPreferences.applePayEnabled</key>
	<true/>
	<key>WebKitPreferences.hiddenPageDOMTimerThrottlingAutoIncreases</key>
	<true/>
	<key>WebKitPreferences.invisibleMediaAutoplayNotPermitted</key>
	<true/>
	<key>WebKitPreferences.javaScriptCanOpenWindowsAutomatically</key>
	<true/>
	<key>WebKitPreferences.needsStorageAccessFromFileURLsQuirk</key>
	<false/>
	<key>WebKitPreferences.pushAPIEnabled</key>
	<true/>
	<key>WebKitPreferences.shouldSuppressKeyboardInputDuringProvisionalNavigation</key>
	<true/>
	<key>WebKitRespectStandardStyleKeyEquivalents</key>
	<true/>
	<key>WebsiteNameProviderLastUpdateTime</key>
	<date>2026-08-18T16:25:20Z</date>
	<key>com.apple.WebPrivacy.ResourceMonitorURLsVersion</key>
	<string>qrsAAAGf8zU7oGVPeIw=</string>
	<key>com.apple.WebPrivacy.TrackingResourceRequestContentBlockerVersion</key>
	<string>qrsAAAGSKksiIAhvTDg=</string>
</dict>
</plist>
