<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SiriAvailability</key>
	<dict>
		<key>allCapabilities</key>
		<dict>
			<key>fullUODCapabilities</key>
			<integer>0</integer>
			<key>hybridCapabilities</key>
			<integer>7</integer>
			<key>saeCapabilities</key>
			<integer>4</integer>
		</dict>
		<key>desiredOrchestrationMode</key>
		<integer>0</integer>
		<key>isAvailable</key>
		<false/>
		<key>siriLocale</key>
		<string>en-US</string>
		<key>unavailabilityReasons</key>
		<integer>128</integer>
	</dict>
</dict>
</plist>
