<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AMSFPCertExpiration</key>
	<date>2026-08-19T16:18:29Z</date>
	<key>AMSJSVersionMap</key>
	<dict>
		<key>journeys</key>
		<string>2609.4.0</string>
	</dict>
</dict>
</plist>
