<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LastRecordingTime</key>
	<string>2026-09-05T09:01:13Z</string>
	<key>LocationAccessRecordsAge</key>
	<integer>0</integer>
</dict>
</plist>
