<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ActivityBaseDates</key>
	<dict>
		<key>CloudTelemetry.com.apple.cloudd.db-cleanup</key>
		<date>2026-09-05T08:56:29Z</date>
		<key>CloudTelemetry.com.apple.cloudd.submit</key>
		<date>2026-09-05T08:56:29Z</date>
		<key>CloudTelemetry.com.apple.identityservicesd.db-cleanup</key>
		<date>2026-09-05T08:56:29Z</date>
		<key>CloudTelemetry.com.apple.identityservicesd.submit</key>
		<date>2026-09-05T08:56:29Z</date>
		<key>CloudTelemetry.com.apple.privatecloudcomputed.db-cleanup</key>
		<date>2026-09-05T11:09:26Z</date>
		<key>CloudTelemetry.com.apple.privatecloudcomputed.submit</key>
		<date>2026-09-05T10:36:40Z</date>
		<key>CloudTelemetry.com.apple.swtransparencyd.db-cleanup</key>
		<date>2026-09-05T14:24:14Z</date>
		<key>CloudTelemetry.com.apple.swtransparencyd.submit</key>
		<date>2026-09-05T11:40:38Z</date>
		<key>PDAuxiliaryCapabilityManager.checkPassRegistrationState</key>
		<date>2026-08-18T16:14:15Z</date>
		<key>PDCardFileManager.CacheMaintenance</key>
		<date>2026-08-18T16:13:53Z</date>
		<key>PDCardFileManager.RevocationCheck</key>
		<date>2026-08-19T16:13:47Z</date>
		<key>PDChangeRegistryScheduledClientIdentifier.PDChangeRegistryScheduledActivityIdentifier</key>
		<date>1995-09-05T08:56:12Z</date>
		<key>PDCloudStoreClientID.PDPassChangesActivityIdentifier</key>
		<date>2026-08-18T16:59:15Z</date>
		<key>PDCloudStoreClientID.PDPassSyncActivityIdentifier</key>
		<date>2026-08-19T04:14:15Z</date>
		<key>PDIssuerBindingManager.checkAllPasses</key>
		<date>2026-08-18T16:14:48Z</date>
		<key>PDMapsBrandAndMerchantUpdaterClientIdentifier.PDMapsBrandAndMerchantUpdaterActivityIdentifier</key>
		<date>2026-08-18T16:14:15Z</date>
		<key>PDMapsMerchantProcessingServiceClientIdentifier.PDMapsMerchantProcessingActivityIdentifier</key>
		<date>2026-08-18T16:14:52Z</date>
		<key>PDPaymentSetupFeaturesCoordinatorClientIdentifier.PDStaticPaymentSetupFeaturesCacheUpdateActivityIdentifier</key>
		<date>2026-08-18T16:14:52Z</date>
		<key>PDWalletUserNotificationManager.reportDeliveredReceipts</key>
		<date>2026-08-19T16:14:15Z</date>
		<key>PDWalletUserNotificationManager.syncDeliveredNotifications</key>
		<date>2026-08-18T16:44:15Z</date>
		<key>com.apple.AOSHeartbeat.daily</key>
		<date>2026-08-18T16:13:47Z</date>
		<key>com.apple.AddressBook.ScheduledSync</key>
		<date>2026-09-05T08:56:19Z</date>
		<key>com.apple.AuthenticationServicesCore.AuthenticationServicesAgent.PeriodicMaintenanceActivity</key>
		<date>2026-09-05T08:56:23Z</date>
		<key>com.apple.CacheDelete.daily</key>
		<date>2026-09-05T08:56:18Z</date>
		<key>com.apple.DataDetectorsLocalSource</key>
		<date>2026-09-05T08:56:23Z</date>
		<key>com.apple.DifferentialPrivacy.DediscoReporter</key>
		<date>2026-09-05T09:01:45Z</date>
		<key>com.apple.DifferentialPrivacy.PrivacyBudgetMaintenance</key>
		<date>2026-09-05T09:01:45Z</date>
		<key>com.apple.DifferentialPrivacy.ReportFilesMaintenance</key>
		<date>2026-09-05T09:01:45Z</date>
		<key>com.apple.DifferentialPrivacy.StorageCulling</key>
		<date>2026-09-05T09:01:45Z</date>
		<key>com.apple.DifferentialPrivacy.StorageMaintenance</key>
		<date>2026-09-05T09:01:45Z</date>
		<key>com.apple.DifferentialPrivacy.TokenFetcher</key>
		<date>2026-09-05T09:01:45Z</date>
		<key>com.apple.DifferentialPrivacy.TransparencyLogMaintenance</key>
		<date>2026-09-05T09:01:45Z</date>
		<key>com.apple.DifferentialPrivacy.runtimeBlacklistMaintenance</key>
		<date>2026-09-05T09:01:45Z</date>
		<key>com.apple.DifferentialPrivacy.serverBlacklistUpdate</key>
		<date>2026-09-05T09:01:45Z</date>
		<key>com.apple.EscrowSecurityAlert.daily</key>
		<date>2026-08-18T16:13:47Z</date>
		<key>com.apple.HomeKit.MobileAssetManager</key>
		<date>2026-09-05T08:56:29Z</date>
		<key>com.apple.IMAutomaticHistoryDeletionAgent</key>
		<date>2026-09-05T08:56:23Z</date>
		<key>com.apple.IntlPreferences.analytics</key>
		<date>2026-09-05T08:56:23Z</date>
		<key>com.apple.KeyboardServices.TextReplacementCKSyncTask</key>
		<date>2026-08-18T16:13:53Z</date>
		<key>com.apple.MTLAssetUpgraderD.prune</key>
		<date>2026-09-05T08:56:23Z</date>
		<key>com.apple.ProtectedCloudStorage.fortnightly</key>
		<date>2026-09-05T08:56:17Z</date>
		<key>com.apple.Safari.PasswordBreachHelper.PeriodicLookupActivity</key>
		<date>2026-09-12T08:56:23Z</date>
		<key>com.apple.SafariBookmarksSyncAgent.XPC.PeriodicRemoteMigrationStateObserver</key>
		<date>2026-08-18T18:25:20Z</date>
		<key>com.apple.SafariBookmarksSyncAgent.XPC.TabCollectionMaintenance</key>
		<date>2026-09-05T09:00:33Z</date>
		<key>com.apple.SafariBookmarksSyncAgent.XPC.ZoneSubscriptionRegistration</key>
		<date>2026-09-05T09:00:33Z</date>
		<key>com.apple.UsageTrackingAgent.activity.device-activity-collection</key>
		<date>2026-09-05T08:56:16Z</date>
		<key>com.apple.UsageTrackingAgent.activity.uncategorized-web-usage</key>
		<date>2026-09-05T08:56:16Z</date>
		<key>com.apple.XProtect.PluginService.agent.fast.scan</key>
		<date>2026-08-18T16:13:47Z</date>
		<key>com.apple.XProtect.PluginService.agent.scan</key>
		<date>2026-08-18T16:13:47Z</date>
		<key>com.apple.XProtect.PluginService.agent.slow.scan</key>
		<date>2026-09-05T08:56:23Z</date>
		<key>com.apple.accessibility.statistics.collection</key>
		<date>2026-09-05T08:56:29Z</date>
		<key>com.apple.accounts.cleanup</key>
		<date>2026-08-18T16:23:53Z</date>
		<key>com.apple.ak.hb</key>
		<date>2026-09-05T08:56:16Z</date>
		<key>com.apple.ak.listupdate</key>
		<date>2026-09-05T08:56:15Z</date>
		<key>com.apple.ak.signinwithapple.healthcheck</key>
		<date>2026-09-05T08:56:15Z</date>
		<key>com.apple.amsaccountsd.jetpackfetch</key>
		<date>2026-09-05T08:56:29Z</date>
		<key>com.apple.amsengagementd.daily</key>
		<date>2026-08-18T16:13:47Z</date>
		<key>com.apple.animoji.UsageAnalysis</key>
		<date>2026-09-05T08:56:23Z</date>
		<key>com.apple.ap.promotedcontentd.gc</key>
		<date>2026-08-18T16:13:47Z</date>
		<key>com.apple.ap.promotedcontentd.timespent</key>
		<date>2026-08-18T16:56:35Z</date>
		<key>com.apple.appleaccountd.appleid.availability</key>
		<date>2026-09-05T08:56:29Z</date>
		<key>com.apple.appleaccountd.trustedContacts.healthCheck</key>
		<date>2026-09-05T08:56:29Z</date>
		<key>com.apple.ax.AXIconVision.LaunchActivity</key>
		<date>2026-08-18T16:13:47Z</date>
		<key>com.apple.ax.ImageCaptionModel.LaunchActivity</key>
		<date>2026-08-18T16:13:47Z</date>
		<key>com.apple.ax.MagnifierAsset.LaunchActivity</key>
		<date>2026-08-18T16:13:47Z</date>
		<key>com.apple.backgroundassets.periodic_check</key>
		<date>2026-09-05T09:03:18Z</date>
		<key>com.apple.betaenrollment.verify</key>
		<date>2026-09-05T08:56:23Z</date>
		<key>com.apple.biomesyncd.cascade.periodic-sync</key>
		<date>2026-09-05T08:56:23Z</date>
		<key>com.apple.biomesyncd.database-maintenance</key>
		<date>2026-09-05T08:56:23Z</date>
		<key>com.apple.biomesyncd.metrics-collection</key>
		<date>2026-09-05T08:56:23Z</date>
		<key>com.apple.biomesyncd.periodic-sync</key>
		<date>2026-09-05T08:56:23Z</date>
		<key>com.apple.calendar.daemon.analytics</key>
		<date>2026-09-05T08:56:18Z</date>
		<key>com.apple.calendar.daemon.attachmentcleanup</key>
		<date>2026-09-05T08:56:18Z</date>
		<key>com.apple.calendar.daemon.changetablecleanup</key>
		<date>2026-09-05T08:56:18Z</date>
		<key>com.apple.calendar.daemon.databasecleanup</key>
		<date>2026-09-05T08:56:18Z</date>
		<key>com.apple.contactsd.VerifyCoreSpotlightService</key>
		<date>2026-09-05T08:56:12Z</date>
		<key>com.apple.contactsd.accounts.cleanup</key>
		<date>2026-09-05T08:56:12Z</date>
		<key>com.apple.contactsd.analysis</key>
		<date>2026-09-05T08:56:22Z</date>
		<key>com.apple.contextkit.mobileasset.check</key>
		<date>2026-09-05T08:56:24Z</date>
		<key>com.apple.coreduet.knowledge-agent.people.refresh-cache</key>
		<date>2026-09-05T08:56:24Z</date>
		<key>com.apple.coreduetd.intentsprivacydeletions</key>
		<date>2026-09-05T08:56:24Z</date>
		<key>com.apple.coreduetd.knowledge.user</key>
		<date>2026-08-18T16:13:47Z</date>
		<key>com.apple.corespotlightd.updateContacts</key>
		<date>2026-09-05T08:56:22Z</date>
		<key>com.apple.dataaccess.dataaccessd.dailyAnalytics</key>
		<date>2026-09-05T08:56:34Z</date>
		<key>com.apple.duetexpertd.action.timeestimate</key>
		<date>2026-09-05T08:56:21Z</date>
		<key>com.apple.duetexpertd.activitySuggestionFeedbackProcessing</key>
		<date>2026-09-05T08:56:21Z</date>
		<key>com.apple.duetexpertd.analyzeNotificationsAndSuggestionsDatabase</key>
		<date>2026-09-05T08:56:21Z</date>
		<key>com.apple.duetexpertd.appdirectory</key>
		<date>2026-09-05T08:56:21Z</date>
		<key>com.apple.duetexpertd.appdirectorylogging</key>
		<date>2026-09-05T08:56:21Z</date>
		<key>com.apple.duetexpertd.apppredictionupdate</key>
		<date>2026-08-18T16:13:47Z</date>
		<key>com.apple.duetexpertd.biome-ui-feedback-result-stream-writing</key>
		<date>2026-09-05T08:56:21Z</date>
		<key>com.apple.duetexpertd.biomepruning</key>
		<date>2026-09-05T08:56:21Z</date>
		<key>com.apple.duetexpertd.blending-shadow-logging</key>
		<date>2026-09-05T08:56:21Z</date>
		<key>com.apple.duetexpertd.blendingbiomestreamlogging</key>
		<date>2026-09-05T08:56:21Z</date>
		<key>com.apple.duetexpertd.controlsupdate</key>
		<date>2026-09-05T08:56:21Z</date>
		<key>com.apple.duetexpertd.everydayshortcuts</key>
		<date>2026-09-05T08:56:21Z</date>
		<key>com.apple.duetexpertd.focusMetricsLogging</key>
		<date>2026-09-05T08:56:21Z</date>
		<key>com.apple.duetexpertd.infoStorePeriodicCleanup</key>
		<date>2026-09-05T08:56:21Z</date>
		<key>com.apple.duetexpertd.logModeActivityMetrics</key>
		<date>2026-09-05T08:56:21Z</date>
		<key>com.apple.duetexpertd.modelscoreharvesting</key>
		<date>2026-09-05T08:56:21Z</date>
		<key>com.apple.duetexpertd.notificationAndSuggestionDatastorePerfMetricsLogging</key>
		<date>2026-09-05T08:56:21Z</date>
		<key>com.apple.duetexpertd.pruneNotificationSuggestionDatastore</key>
		<date>2026-09-05T08:56:21Z</date>
		<key>com.apple.duetexpertd.pruneNotificationsBasedOnHardLimits</key>
		<date>2026-09-05T08:56:21Z</date>
		<key>com.apple.duetexpertd.pruneSuggestionsBasedOnHardLimits</key>
		<date>2026-09-05T08:56:21Z</date>
		<key>com.apple.duetexpertd.timelinedonationspruning</key>
		<date>2026-09-05T08:56:21Z</date>
		<key>com.apple.duetexpertd.updateAssetMetadata</key>
		<date>2026-09-05T08:56:21Z</date>
		<key>com.apple.duetexpertd.updateInferredModeBiomeStream</key>
		<date>2026-09-05T08:56:21Z</date>
		<key>com.apple.duetexpertd.urgency-tuning-global-metrics-logging</key>
		<date>2026-09-05T08:56:21Z</date>
		<key>com.apple.duetexpertd.verticalmodelstraining</key>
		<date>2026-09-05T08:56:21Z</date>
		<key>com.apple.exchange.exchangesyncd.accountauthupgrader</key>
		<date>2026-08-18T16:13:47Z</date>
		<key>com.apple.exchange.exchangesyncd.firstrun</key>
		<date>2026-09-05T09:03:22Z</date>
		<key>com.apple.exchangesyncd.activity.maintenance</key>
		<date>2026-08-18T16:19:30Z</date>
		<key>com.apple.feedbackd.process-notifications</key>
		<date>2026-08-18T16:13:47Z</date>
		<key>com.apple.findmy.PublishTagMetrics</key>
		<date>2026-09-05T20:56:29Z</date>
		<key>com.apple.icloud.searchpartyd.ProductInfoManager</key>
		<date>2026-09-05T08:56:29Z</date>
		<key>com.apple.ids.accountrepair</key>
		<date>2026-09-05T08:56:29Z</date>
		<key>com.apple.ids.dailymetricreport</key>
		<date>2026-09-05T08:56:29Z</date>
		<key>com.apple.ids.query.db.cleanup</key>
		<date>2026-09-05T08:56:32Z</date>
		<key>com.apple.ids.registration.tracker</key>
		<date>2026-09-05T08:56:29Z</date>
		<key>com.apple.ids.registrationaccountstatusmetric</key>
		<date>2026-09-05T08:56:29Z</date>
		<key>com.apple.ids.senderkey.cleanup</key>
		<date>2026-09-05T08:56:29Z</date>
		<key>com.apple.intelligenceplatform.IntelligencePlatformCore.AssetRegistryOverrideStoreWeeklyCleanup</key>
		<date>2026-09-05T08:56:21Z</date>
		<key>com.apple.intelligenceplatform.IntelligencePlatformCore.AutonamingMessagesAggregationAccuracy</key>
		<date>2026-09-05T08:56:13Z</date>
		<key>com.apple.intelligenceplatform.IntelligencePlatformCore.AutonamingMessagesPipeline</key>
		<date>2026-08-18T16:13:47Z</date>
		<key>com.apple.intelligenceplatform.IntelligencePlatformCore.AutonamingMetricsLogging</key>
		<date>2026-08-18T16:13:47Z</date>
		<key>com.apple.intelligenceplatform.IntelligencePlatformCore.EventAndFeedbackDailyProcessing</key>
		<date>2026-09-05T08:56:21Z</date>
		<key>com.apple.intelligenceplatform.IntelligencePlatformCore.GlobalKnowledgeTwoHourPrune</key>
		<date>2026-09-05T08:56:21Z</date>
		<key>com.apple.intelligenceplatform.IntelligencePlatformCore.ResetDisabledViewsDaily</key>
		<date>2026-08-18T16:13:47Z</date>
		<key>com.apple.intelligenceplatform.IntelligencePlatformCore.ViewDaily</key>
		<date>2026-08-18T16:13:47Z</date>
		<key>com.apple.intelligenceplatform.IntelligencePlatformCore.ViewDailyWithNetworking</key>
		<date>2026-08-18T16:13:47Z</date>
		<key>com.apple.intelligenceplatform.IntelligencePlatformCore.ViewEvery2Hours</key>
		<date>2026-08-18T16:13:47Z</date>
		<key>com.apple.intelligenceplatform.IntelligencePlatformCore.ViewEvery4Hours</key>
		<date>2026-09-05T08:56:23Z</date>
		<key>com.apple.intelligenceplatform.IntelligencePlatformCore.ViewLive</key>
		<date>2026-09-05T09:02:14Z</date>
		<key>com.apple.intelligenceplatform.IntelligencePlatformCore.ViewWeekly</key>
		<date>2026-09-05T08:56:23Z</date>
		<key>com.apple.knowledgestore.sync</key>
		<date>2026-09-05T08:56:24Z</date>
		<key>com.apple.kvs.periodic-analytics</key>
		<date>2026-09-05T08:56:28Z</date>
		<key>com.apple.launchservices.systemapps.analytics</key>
		<date>2026-08-18T16:14:14Z</date>
		<key>com.apple.linkd.prune-transcript</key>
		<date>2026-08-18T16:13:47Z</date>
		<key>com.apple.lockdownmoded.updateState</key>
		<date>2026-08-18T16:13:47Z</date>
		<key>com.apple.mbuseragent.expressupdate</key>
		<date>2026-09-05T08:56:16Z</date>
		<key>com.apple.messages.attachmentFileSizeUpdate</key>
		<date>2026-09-05T08:56:29Z</date>
		<key>com.apple.messages.backupOfAliases</key>
		<date>2026-08-18T16:14:15Z</date>
		<key>com.apple.messages.ckMetricsLogging</key>
		<date>2026-09-05T08:56:29Z</date>
		<key>com.apple.messages.sync.Periodic</key>
		<date>2026-09-05T08:56:28Z</date>
		<key>com.apple.mlruntimed.xpc_activity-orchestra</key>
		<date>2026-08-18T16:13:47Z</date>
		<key>com.apple.mobilerepaird.daily_stats</key>
		<date>2026-08-18T16:13:47Z</date>
		<key>com.apple.networkserviceproxy.metadata-refresh-12h</key>
		<date>2026-09-05T08:56:23Z</date>
		<key>com.apple.networkserviceproxy.metadata-refresh-22h</key>
		<date>2026-09-05T08:59:10Z</date>
		<key>com.apple.networkserviceproxy.publish-daily-stats</key>
		<date>2026-08-18T16:13:47Z</date>
		<key>com.apple.noticeboard.update</key>
		<date>2026-09-05T09:03:52Z</date>
		<key>com.apple.osanalytics.stability-monitor</key>
		<date>2026-08-18T16:13:47Z</date>
		<key>com.apple.osanalytics.submissions.cleanup</key>
		<date>2026-08-18T16:13:47Z</date>
		<key>com.apple.osanalytics.submissions.submit</key>
		<date>2026-09-05T08:56:36Z</date>
		<key>com.apple.osanalytics.submissions.submit-permissive</key>
		<date>2026-09-05T08:56:36Z</date>
		<key>com.apple.proactive.PersonalIntelligence.PersonalIntelligenceMetrics</key>
		<date>2026-09-05T08:56:29Z</date>
		<key>com.apple.proactive.PersonalizationPortrait.ClientLinkStatus</key>
		<date>2026-09-05T08:56:29Z</date>
		<key>com.apple.proactive.PersonalizationPortrait.ContactHandlesCache</key>
		<date>2026-09-05T08:56:29Z</date>
		<key>com.apple.proactive.PersonalizationPortrait.ContactsImport</key>
		<date>2026-09-05T08:56:29Z</date>
		<key>com.apple.proactive.PersonalizationPortrait.CoreRoutineImport</key>
		<date>2026-09-05T08:56:29Z</date>
		<key>com.apple.proactive.PersonalizationPortrait.DailyMetricsLogging</key>
		<date>2026-09-05T08:56:29Z</date>
		<key>com.apple.proactive.PersonalizationPortrait.DecayedFeedbackCleanup</key>
		<date>2026-09-05T08:56:29Z</date>
		<key>com.apple.proactive.PersonalizationPortrait.DecayedFeedbackCountsDecay</key>
		<date>2026-09-05T08:56:29Z</date>
		<key>com.apple.proactive.PersonalizationPortrait.EventKitImport</key>
		<date>2026-09-05T08:56:29Z</date>
		<key>com.apple.proactive.PersonalizationPortrait.ExpiredLinkReview</key>
		<date>2026-09-05T08:56:29Z</date>
		<key>com.apple.proactive.PersonalizationPortrait.FeedbackProcessing</key>
		<date>2026-09-05T08:56:29Z</date>
		<key>com.apple.proactive.PersonalizationPortrait.FeedbackStreamReviewed</key>
		<date>2026-09-05T08:56:29Z</date>
		<key>com.apple.proactive.PersonalizationPortrait.LinkStatusGeneration</key>
		<date>2026-09-05T08:56:29Z</date>
		<key>com.apple.proactive.PersonalizationPortrait.LogLocationPerplexity</key>
		<date>2026-09-05T08:56:29Z</date>
		<key>com.apple.proactive.PersonalizationPortrait.LogNamedEntityFirstSource</key>
		<date>2026-09-05T08:56:29Z</date>
		<key>com.apple.proactive.PersonalizationPortrait.LogNamedEntityPerplexity</key>
		<date>2026-09-05T08:56:29Z</date>
		<key>com.apple.proactive.PersonalizationPortrait.LogTopicFirstSource</key>
		<date>2026-09-05T08:56:29Z</date>
		<key>com.apple.proactive.PersonalizationPortrait.LogTopicPerplexity</key>
		<date>2026-09-05T08:56:29Z</date>
		<key>com.apple.proactive.PersonalizationPortrait.MapsImport</key>
		<date>2026-09-05T08:56:29Z</date>
		<key>com.apple.proactive.PersonalizationPortrait.NamedEntityFiltering</key>
		<date>2026-09-05T08:56:29Z</date>
		<key>com.apple.proactive.PersonalizationPortrait.OptimizeDatabase</key>
		<date>2026-09-05T08:56:29Z</date>
		<key>com.apple.proactive.PersonalizationPortrait.RTCSendLogs</key>
		<date>2026-09-05T08:56:29Z</date>
		<key>com.apple.proactive.PersonalizationPortrait.RemotelyDonatedRecordCleanup</key>
		<date>2026-09-05T08:56:29Z</date>
		<key>com.apple.proactive.PersonalizationPortrait.SocialHighlightFeedbackCleanUp</key>
		<date>2026-09-05T08:56:29Z</date>
		<key>com.apple.proactive.PersonalizationPortrait.SocialHighlightSettingsCollection</key>
		<date>2026-09-05T08:56:29Z</date>
		<key>com.apple.proactive.PersonalizationPortrait.SpotlightScoringCache</key>
		<date>2026-08-18T16:14:15Z</date>
		<key>com.apple.proactive.PersonalizationPortrait.TTLBasedDonationCleanup</key>
		<date>2026-09-05T08:56:29Z</date>
		<key>com.apple.proactive.PersonalizationPortrait.TTLBasedFeedbackRecordCleanup</key>
		<date>2026-09-05T08:56:29Z</date>
		<key>com.apple.proactive.PersonalizationPortrait.UnsupportedClient</key>
		<date>2026-09-05T08:56:29Z</date>
		<key>com.apple.proactive.PersonalizationPortrait.VacuumDatabase</key>
		<date>2026-09-05T08:56:29Z</date>
		<key>com.apple.proactive.ProactiveHarvesting.Cleanup</key>
		<date>2026-09-05T08:56:14Z</date>
		<key>com.apple.proactive.ProactiveHarvesting.Harvest.PeriodicBackground</key>
		<date>2026-08-18T16:13:47Z</date>
		<key>com.apple.proactiveeventtrackerd.sendDaily</key>
		<date>2026-09-05T08:56:20Z</date>
		<key>com.apple.proactiveeventtrackerd.updateAssetMetadata</key>
		<date>2026-09-05T08:56:20Z</date>
		<key>com.apple.quicklook.cloudThumbnailDatabaseCleanup</key>
		<date>2026-09-05T08:56:23Z</date>
		<key>com.apple.remindd.ICCloudConfigurationUpdater</key>
		<date>2026-09-05T08:56:29Z</date>
		<key>com.apple.remindd.RDHousekeepingActivityScheduler</key>
		<date>2026-09-05T08:56:30Z</date>
		<key>com.apple.routined.assets</key>
		<date>2026-08-18T16:13:53Z</date>
		<key>com.apple.routined.cloudkit.initializeSentinelZone</key>
		<date>2026-09-06T08:56:29Z</date>
		<key>com.apple.routined.learnedLocationEngine.train</key>
		<date>2026-08-18T16:14:15Z</date>
		<key>com.apple.routined.locationAwareness.heartbeat</key>
		<date>2026-09-05T08:56:29Z</date>
		<key>com.apple.routined.metrics.daily</key>
		<date>2026-08-18T16:13:47Z</date>
		<key>com.apple.routined.persistence.mirroring.background</key>
		<date>2026-08-18T16:14:15Z</date>
		<key>com.apple.routined.persistence.mirroring.backup</key>
		<date>2026-08-18T16:14:15Z</date>
		<key>com.apple.routined.purge</key>
		<date>2026-08-18T16:14:15Z</date>
		<key>com.apple.safarishared.WBSParsecDSession.autoFillDataUpdate</key>
		<date>2026-08-19T00:25:19Z</date>
		<key>com.apple.screentime.activity.analytics</key>
		<date>2026-09-05T08:56:19Z</date>
		<key>com.apple.screentime.activity.app-collection</key>
		<date>2026-09-05T08:56:19Z</date>
		<key>com.apple.screentime.activity.cleanup</key>
		<date>2026-09-05T08:56:19Z</date>
		<key>com.apple.searchd.defrag</key>
		<date>2026-09-17T16:13:47Z</date>
		<key>com.apple.searchd.loadtrial</key>
		<date>2026-08-18T16:13:47Z</date>
		<key>com.apple.searchparty.BeaconStore.Analytics</key>
		<date>2026-09-05T08:56:29Z</date>
		<key>com.apple.searchpartyd.OwnDevicePublish</key>
		<date>2026-09-05T09:11:29Z</date>
		<key>com.apple.securityd.daily</key>
		<date>2026-08-18T16:13:47Z</date>
		<key>com.apple.securityd.entropyhealth</key>
		<date>2026-08-18T16:13:46Z</date>
		<key>com.apple.securityd.prng</key>
		<date>2026-09-05T08:56:12Z</date>
		<key>com.apple.securityd.weekly</key>
		<date>2026-09-05T08:56:12Z</date>
		<key>com.apple.securityuploadd.triggerupload</key>
		<date>2026-09-05T08:56:20Z</date>
		<key>com.apple.sesd.keySyncStateStatistics</key>
		<date>2026-08-18T16:13:47Z</date>
		<key>com.apple.siri.cdm.xpc_activity.maintenance</key>
		<date>2026-09-05T08:56:24Z</date>
		<key>com.apple.siri.vocabulary.indexMaintenance</key>
		<date>2026-09-05T08:56:29Z</date>
		<key>com.apple.siri.xpc_activity.cloudkitsync.weekly</key>
		<date>2026-09-05T08:56:29Z</date>
		<key>com.apple.siri.xpc_activity.context-collector-reelection</key>
		<date>2026-09-05T08:56:29Z</date>
		<key>com.apple.siri.xpc_activity.media-indexer</key>
		<date>2026-09-05T08:56:29Z</date>
		<key>com.apple.siri.xpc_activity.metrics-sender</key>
		<date>2026-09-05T08:56:29Z</date>
		<key>com.apple.siri.xpc_activity.service_maintenance</key>
		<date>2026-09-05T08:56:29Z</date>
		<key>com.apple.siri.xpc_activity.sync.daily</key>
		<date>2026-09-05T08:56:29Z</date>
		<key>com.apple.siri.xpc_activity.uaf-subscription-maintenance</key>
		<date>2026-09-05T08:56:15Z</date>
		<key>com.apple.siriactionsd.RemoteQuarantineUpdate</key>
		<date>2026-09-05T08:56:23Z</date>
		<key>com.apple.siriactionsd.ShortcutsDailyMetricCheckIn</key>
		<date>2026-08-18T17:25:38Z</date>
		<key>com.apple.siriactionsd.ShortcutsWeeklyMetricCheckIn</key>
		<date>2026-08-19T05:07:07Z</date>
		<key>com.apple.sirittsd.cleanUp</key>
		<date>2026-09-05T08:56:23Z</date>
		<key>com.apple.sirittsd.neuralCompiling</key>
		<date>2026-08-18T16:13:47Z</date>
		<key>com.apple.sirittsd.voiceUpdate</key>
		<date>2026-09-05T08:56:23Z</date>
		<key>com.apple.sirittsd.weeklyVoiceUpdate</key>
		<date>2026-09-05T08:56:23Z</date>
		<key>com.apple.spotlight.modelUpdating</key>
		<date>2026-09-05T08:56:29Z</date>
		<key>com.apple.spotlight.sendmlfeedback</key>
		<date>2026-08-18T16:18:24Z</date>
		<key>com.apple.spotlight.textstore.Analytics</key>
		<date>2026-09-05T08:56:29Z</date>
		<key>com.apple.statuskit.maintenance</key>
		<date>2026-09-05T08:56:24Z</date>
		<key>com.apple.suggestd.analytics-heartbeat</key>
		<date>2026-08-18T16:13:47Z</date>
		<key>com.apple.suggestd.cd-cache-rebuild</key>
		<date>2026-08-18T16:13:47Z</date>
		<key>com.apple.suggestd.harvested-url-metric-upload</key>
		<date>2026-09-05T08:56:14Z</date>
		<key>com.apple.suggestd.identityanalysis</key>
		<date>2026-08-18T16:13:47Z</date>
		<key>com.apple.suggestd.ma-metadata-download</key>
		<date>2026-09-05T08:56:14Z</date>
		<key>com.apple.suggestd.mail-intelligence-tasks</key>
		<date>2026-09-05T08:56:13Z</date>
		<key>com.apple.suggestd.process-pending-geocodes</key>
		<date>2026-09-05T08:56:13Z</date>
		<key>com.apple.suggestd.process-pending-verification</key>
		<date>2026-09-05T08:56:14Z</date>
		<key>com.apple.suggestd.sendrtc</key>
		<date>2026-09-05T08:56:14Z</date>
		<key>com.apple.suggestd.trim</key>
		<date>2026-09-05T08:56:13Z</date>
		<key>com.apple.suggestd.vacuum</key>
		<date>2026-09-05T08:56:13Z</date>
		<key>com.apple.suggestions.collectweeklystats</key>
		<date>2026-09-05T08:56:14Z</date>
		<key>com.apple.suggestions.sqlentitystore.cacheprecomputation</key>
		<date>2026-08-18T16:13:47Z</date>
		<key>com.apple.telephonyutilities.callservicesd.csdvoipapplicationcontroller.daily</key>
		<date>2026-08-18T16:14:15Z</date>
		<key>com.apple.tipsd.analytics-maintenance</key>
		<date>2026-09-05T08:56:16Z</date>
		<key>com.apple.tipsd.update-content</key>
		<date>2026-09-05T08:56:16Z</date>
		<key>com.apple.triald.cellular</key>
		<date>2026-09-05T09:02:00Z</date>
		<key>com.apple.triald.client-trigger.wifi</key>
		<date>2026-08-18T16:14:58Z</date>
		<key>com.apple.triald.fetch-experiments</key>
		<date>2026-09-05T08:56:18Z</date>
		<key>com.apple.triald.maintenance</key>
		<date>2026-09-05T08:56:33Z</date>
		<key>com.apple.triald.setup-assistant-fetch</key>
		<date>2026-08-18T16:14:58Z</date>
		<key>com.apple.weatherd.notifications</key>
		<date>2026-09-05T08:56:50Z</date>
	</dict>
	<key>ProductBuildVersion</key>
	<string>25G83</string>
	<key>VersionSpecificActivitiesRun</key>
	<array>
		<string>com.apple.mobilerepaird.post_install</string>
		<string>com.apple.findmy.findmylocated.post-install</string>
		<string>com.apple.icloud.searchpartyuseragent.post-install</string>
		<string>com.apple.appleaccountd.postinstall</string>
		<string>com.apple.siri.xpc_activity.uaf-post-upgrade</string>
		<string>com.apple.siri.xpc_activity.siri-information-clear-cache</string>
		<string>com.apple.ak.postinstall</string>
		<string>com.apple.siri.cdm.xpc_activity.post_install</string>
		<string>com.apple.siri.vocabulary.postInstallMigration</string>
		<string>com.apple.triald.post-upgrade-require-inexpensive-networking</string>
		<string>com.apple.sirittsd.postInstall</string>
		<string>com.apple.cs.postinstall</string>
		<string>CloudTelemetry.com.apple.cloudd.postinstall</string>
		<string>com.apple.MTLAssetUpgraderD.os-update</string>
		<string>com.apple.triald.post-upgrade</string>
		<string>com.apple.siri.xpc_activity.logviewer-identifier-defaults-write</string>
		<string>CloudTelemetry.com.apple.identityservicesd.postinstall</string>
		<string>com.apple.avatar.activity.PostInstallMigration</string>
		<string>com.apple.tipsd.postInstall-utility</string>
		<string>com.apple.tipsd.welcome.followup</string>
		<string>com.apple.linkd.update-registry</string>
		<string>com.apple.biomesyncd.post-install-immediate-sync</string>
		<string>CloudTelemetry.com.apple.privatecloudcomputed.postinstall</string>
		<string>CloudTelemetry.com.apple.swtransparencyd.postinstall</string>
	</array>
</dict>
</plist>
