<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SKDUserDefaultsRoot</key>
	<dict>
		<key>SKDUserDefaultsMap</key>
		<dict>
			<key>default</key>
			<dict>
				<key>metricsLastFetchDate</key>
				<date>2026-09-05T09:01:13Z</date>
				<key>metricsWriting</key>
				<false/>
				<key>timestamp</key>
				<real>810291674.021634</real>
				<key>versionNumber</key>
				<integer>1</integer>
			</dict>
			<key>pipeline:Embedding</key>
			<dict>
				<key>awaitingRedonationBundles</key>
				<array>
					<string>com.apple.reminders</string>
					<string>com.apple.shortcuts</string>
					<string>com.apple.AppStore</string>
					<string>com.apple.systempreferences</string>
					<string>com.apple.Safari</string>
					<string>com.apple.CalendarUI</string>
				</array>
				<key>itemsAwaitingRedonation_com.apple.AppStore</key>
				<integer>0</integer>
				<key>itemsAwaitingRedonation_com.apple.CalendarUI</key>
				<integer>0</integer>
				<key>itemsAwaitingRedonation_com.apple.Safari</key>
				<integer>0</integer>
				<key>itemsAwaitingRedonation_com.apple.reminders</key>
				<integer>0</integer>
				<key>itemsAwaitingRedonation_com.apple.shortcuts</key>
				<integer>0</integer>
				<key>itemsAwaitingRedonation_com.apple.systempreferences</key>
				<integer>0</integer>
				<key>timestamp</key>
				<real>811371517.0714</real>
			</dict>
			<key>pipeline:Keyphrase</key>
			<dict>
				<key>awaitingRedonationBundles</key>
				<array>
					<string>com.apple.tips</string>
				</array>
				<key>enabledDate</key>
				<date>2026-08-18T16:13:52Z</date>
				<key>itemsAwaitingRedonation_com.apple.tips</key>
				<integer>0</integer>
				<key>journalsPurged</key>
				<integer>8</integer>
				<key>lastMetricsFetchJournalsPurged</key>
				<integer>8</integer>
				<key>loggingVersion</key>
				<string>13</string>
				<key>timestamp</key>
				<real>810291674.3169</real>
			</dict>
			<key>pipeline:LSSR5EventsandordersBackground</key>
			<dict>
				<key>awaitingRedonationBundles</key>
				<array>
					<string>com.apple.CalendarUI</string>
				</array>
				<key>enabledDate</key>
				<date>2026-08-18T16:13:51Z</date>
				<key>itemsAwaitingRedonation_com.apple.CalendarUI</key>
				<integer>0</integer>
				<key>journalsPurged</key>
				<integer>8</integer>
				<key>lastMetricsFetchJournalsPurged</key>
				<integer>8</integer>
				<key>loggingVersion</key>
				<string>NA</string>
				<key>timestamp</key>
				<real>810291674.339468</real>
			</dict>
			<key>pipeline:LSSR5EventsandordersUrgent</key>
			<dict>
				<key>journalsPurged</key>
				<integer>0</integer>
				<key>lastMetricsFetchJournalsPurged</key>
				<integer>0</integer>
				<key>timestamp</key>
				<real>811371517.049946</real>
			</dict>
			<key>pipeline:LSSR5IdentificationdocumentsBackground</key>
			<dict>
				<key>enabledDate</key>
				<date>2026-08-18T16:13:51Z</date>
				<key>journalsPurged</key>
				<integer>8</integer>
				<key>lastMetricsFetchJournalsPurged</key>
				<integer>8</integer>
				<key>loggingVersion</key>
				<string>NA</string>
				<key>timestamp</key>
				<real>810291674.021432</real>
			</dict>
		</dict>
		<key>SKDUserDefaultsVersion</key>
		<integer>1</integer>
	</dict>
</dict>
</plist>
