<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CachedVCCaps</key>
	<integer>17592188010496</integer>
	<key>EndRecordingDisclosureUtterance</key>
	<string>This call is no longer being recorded</string>
	<key>GreetingsChecksums</key>
	<dict/>
	<key>SiriGreeting</key>
	<string>Your call has been forwarded to Voicemail. The person you’re trying to reach is not available. At the tone, please record your message. When you have finished recording you may hang up.</string>
	<key>StartRecordingDisclosureUtterance</key>
	<string>This call will be recorded</string>
	<key>StartTranslationDisclosureUtterance</key>
	<string>Translation is on for this call</string>
	<key>StopTranslationDisclosureUtterance</key>
	<string>Translation ended for this call</string>
	<key>kLastIDSFirewallVersionDefaultsKey</key>
	<integer>1</integer>
	<key>lastSiriVoiceUsedForCallScreeningGreeting</key>
	<string>Simone</string>
	<key>registeredProvidersVersion</key>
	<integer>1</integer>
</dict>
</plist>
