<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>GenerativeModelsAvailability.lastStatus</key>
	<integer>8590000130</integer>
	<key>GenerativeModelsAvailability.lastStatusTime</key>
	<real>1788598800.574789</real>
	<key>uploadTaskBookmark</key>
	<real>810291600.910874</real>
</dict>
</plist>
