<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CKPerBootTasks</key>
	<array>
		<string>CKAccountInfoCacheReset</string>
	</array>
	<key>CKStartupTime</key>
	<integer>1789678702</integer>
	<key>CloudKitAccountInfoCache</key>
	<dict/>
	<key>IMChatVocabularyUpdaterDidPerformInitialUpdateKey</key>
	<true/>
	<key>com.apple.messages-cache-delete.purge_markers</key>
	<dict>
		<key>A19FE379-BE62-4297-9A39-3934CC88214B</key>
		<array>
			<integer>336073</integer>
		</array>
	</dict>
</dict>
</plist>
